# Emacs files
*~

# Python
.venv
.mypy_cache
__pycache__
*.pyc
*.egg-info

# LaTeX files
*.aux
*.dvi
*.log
*.out.ps

# PyEnv files
.python-version

# PyCharm files
.idea/

# macOS files
.DS_Store

# Jupyter notebooks
.ipynb_checkpoints
